---
# Install OpenShift GitOps operator and create ArgoCD Application
# Only included when crc_argocd_app_repo is set

- name: GitOps Namespace
  kubernetes.core.k8s:
    name: openshift-gitops-operator
    api_version: v1
    kind: Namespace
    state: present

- name: GitOps Operator Group
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: operators.coreos.com/v1
      kind: OperatorGroup
      metadata:
        name: openshift-gitops-operator
        namespace: openshift-gitops-operator
      spec:
        upgradeStrategy: Default

- name: Wait for CatalogSource to be ready
  kubernetes.core.k8s_info:
    api_version: operators.coreos.com/v1alpha1
    kind: CatalogSource
    name: redhat-operators
    namespace: openshift-marketplace
  register: catalogsource
  until:
    - catalogsource.resources | length > 0
    - catalogsource.resources[0].status.connectionState.lastObservedState | default('') == 'READY'
  retries: 60
  delay: 10

- name: GitOps Subscription
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: operators.coreos.com/v1alpha1
      kind: Subscription
      metadata:
        name: openshift-gitops-operator
        namespace: openshift-gitops-operator
      spec:
        channel: latest
        name: openshift-gitops-operator
        source: redhat-operators
        sourceNamespace: openshift-marketplace
        installPlanApproval: Automatic
        config:
          env:
            - name: ARGOCD_CLUSTER_CONFIG_NAMESPACES
              value: openshift-gitops

- name: Wait for ArgoCD instance to be created by operator
  kubernetes.core.k8s_info:
    api_version: argoproj.io/v1beta1
    kind: ArgoCD
    name: openshift-gitops
    namespace: openshift-gitops
  register: argocd
  until: argocd.resources | default([]) | length > 0
  retries: 60
  delay: 10

- name: Create AGE keys secret for SOPS decryption
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      type: Opaque
      metadata:
        name: sops-age-keys
        namespace: openshift-gitops
      data:
        key.txt: "{{ crc_argocd_age_keys | b64encode }}"
  when: crc_argocd_age_keys | default('') | length > 0

- name: Create ArgoCD Application
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: argoproj.io/v1alpha1
      kind: Application
      metadata:
        name: "{{ crc_argocd_app_repo | urlsplit('path') | basename | regex_replace('\\.git$', '') }}"
        namespace: openshift-gitops
      spec:
        source:
          repoURL: "{{ crc_argocd_app_repo }}"
          path: "{{ crc_argocd_app_path }}"
          targetRevision: "{{ crc_argocd_app_branch }}"
        destination:
          server: https://kubernetes.default.svc
        project: default
        syncPolicy:
          automated:
            prune: true
            selfHeal: true
