---
- name: Install haproxy
  ansible.builtin.dnf:
    name: haproxy
    state: present
  become: true
  become_user: root

- name: Propagate haproxy.cfg
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    owner: root
    group: root
    mode: '0644'
  become: true
  become_user: root

- name: Start & Enable haproxy
  ansible.builtin.systemd:
    name: haproxy.service
    state: started
    enabled: true
  become: true
  become_user: root
